## Lecture 2 (11 Oct 2025)

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/kosavina/hse-python-2025/blob/main/Lecture_2.ipynb)

# Functions

## What is a Function?

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

## Why Use Functions?

* Reusability: Write once, use multiple times.
* Modularity: Break down complex problems into simpler pieces.
* Readability: Makes code easier to understand.

## Defining Functions
In Python, you define a function using the def keyword.

```python
def function_name(parameters):
    """Docstring describing the function."""
    # Function body
    return value
```

* def: Keyword to start a function definition.
* function_name: A unique name to identify the function.
* parameters: Optional. Variables that you can pass to the function.
* return: Optional. Returns a value from the function.

In [ ]:
def greet():
    """This function greets the user."""
    print("Hello, welcome to Python functions!")

greet()

In [ ]:
help(greet)

## Function Parameters and Arguments

Parameters are variables listed in the function’s definition. Arguments are the values you pass to the function’s parameters.

### Positional Arguments

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print("The sum is:", result)

### Keyword Arguments

You can also pass arguments using the key=value syntax.

In [ ]:
def introduce(name, age):
    print(f"My name is {name} and I am {age} years old.")

introduce(age=25, name="Alice")

### Default Parameters

You can assign default values to parameters.

In [ ]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()

In [ ]:
greet("Bob")

## Mixed parameters/arguments

* Non-default parameters precede default parameters
* Keyword arguments follow positional arguments

In [ ]:
def add(a, b=5):
  return a + b

print(add(10))

### Return Statement

The return statement is used to exit a function and go back to the place from where it was called.

In [ ]:
def square(number):
    return number * number

result = square(4)
print("The square is:", result)

## Variable Scope

Scope refers to the visibility of variables. Variables defined inside a function are not visible from outside.

### Local Variables

In [ ]:
del x

In [ ]:
def func():
    x = 10  # Local variable
    print("Inside function:", x)

func()

In [ ]:
print(x)

### Global Variables

In [ ]:
x = 20  # Global variable

def func():
    global x
    x = 10
    print("Inside function:", x)

func()
print("Outside function:", x)

### Nonlocal Variables

1. **Scope Resolution:** Python has three main scopes: local (inside the current function), nonlocal (in an enclosing function's scope), and global (module-level scope). The nonlocal keyword targets the nearest enclosing scope that is not global.
2. **Purpose:** It enables a nested function to modify a variable in its enclosing function's scope, rather than creating a new local variable or relying on global variables.
3. **Syntax:** The nonlocal keyword is followed by the name of the variable(s) to be modified.
4. **Restriction:** The variable must already exist in an enclosing scope. If no such variable exists, Python raises a SyntaxError.

In [ ]:
def outer():
  count = 0
  def inner():
    nonlocal count  # Declare count as nonlocal
    count += 1     # Modify the outer function's count
    print(f"Inner count: {count}")
  inner()
  print(f"Outer count: {count}")

outer()

In [ ]:
def outer():
  count = 0
  def inner():
    count = 0  # Creates a new local variable
    count += 1
    print(f"Inner count: {count}")
  inner()
  print(f"Outer count: {count}")

outer()

In [ ]:
def outer():
  x = 10
  def middle():
    x = 20
    def inner():
      nonlocal x  # Refers to x in middle(), not outer()
      x += 5
      print(f"Inner x: {x}")
    inner()
    print(f"Middle x: {x}")
  middle()
  print(f"Outer x: {x}")

outer()

## Lambda Functions

Lambda functions are small anonymous functions defined with the lambda keyword.

```python
lambda arguments: expression
```

In [ ]:
def multiply(a, b):
  return a * b

In [ ]:
multiply = lambda a, b: a * b
print("Product:", multiply(4, 5))

## Variable-Length Arguments

Sometimes, you may not know in advance how many arguments a function should accept.

### *args (Non-Keyword Arguments)

In [ ]:
def sum_all(*args):
  total = 0
  for num in args:
      total += num # total = total + num
      print(total)
  return total

print("Sum:", sum_all(1, 2, 3, 4, 5))

### **kwargs (Keyword Arguments)

In [ ]:
def print_info(**kwargs):
  for key, value in kwargs.items():
      print(f"{key}: {value}")

print_info(name="Alice", age=25, city="New York")

## Keyword-Only Arguments
To Enforce Keyword-Only Arguments: When an asterisk is placed before specific parameters in a function definition, it indicates that all parameters after the asterisk must be provided as keyword arguments.

In [ ]:
def example_func(a, b, *, c):
    print(a, b, c)

example_func(1, 2, c=3)  # Works fine
example_func(1, 2, 3)    # Raises a TypeError

### Positional-only Arguments

When a slash is used in a function definition, it indicates that all preceding parameters can only be specified as positional arguments, while any parameters after the slash can be specified as keyword arguments.

In [ ]:
def func(a, b, /, c):
    print(a, b, c)

func(1, 2, c=3)  # Valid
func(1, b=2, c=3)     # Raises TypeError because c cannot be positional

### Positional-only and Keyword-only Arguments

In [ ]:
def func(a, /, b, *, c):
    print(a, b, c)

func(1, 2, c=3) # Valid
func(1, b=2, c=3) # Valid
func(1, 2, 3) # Error
func(a=1, b=2, c=3) # Error

# Compound types: Strings, List and dictionaries

[Data Structures](https://docs.python.org/3/tutorial/datastructures.html)


![image.png]()

In [ ]:
a = ['a', 'b', 'c', 'd', 'e', 'f']

[begin: end: (direction)step]

In [ ]:
a[3::-1]

## Strings

[Docs](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str
)

Strings are the variable type that is used for storing text messages.

In [ ]:
s = 'as"d'
print(s)
s = "a'sd"
print(s)

In [ ]:
s = '''sdfsdfsdf
fsdfsdf
sdfsdfs
sdfsdfsdf
'''
print(s)

In [ ]:
s = "Hello world"
type(s)

In [ ]:
s = 'asd'
s.center(20, 't')

In [ ]:
# length of the string: the number of characters
len(s)

In [ ]:
help(len)

In [ ]:
# replace a substring in a string with something else
s = "Hello world Hello world"

s2 = s.replace("world", "test", 2)
print(s2)

We can index a character in a string using `[]`:

In [ ]:
s = "Hello world"

In [ ]:
s[0]

**Heads up MATLAB users:** Indexing start at 0!

We can extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop` -1 (the character at index `stop` is not included):

In [ ]:
s[0:5]

In [ ]:
s[4:5]

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [ ]:
s[:5]

In [ ]:
s[6:]

In [ ]:
s[:]

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

In [ ]:
s[::1]

In [ ]:
s[::2]

In [ ]:
s = 'abcdef'
s[4::-1]

This technique is called *slicing*. Read more about the syntax here: https://docs.python.org/3/library/functions.html#slice

Python has a very rich set of functions for text processing. See for example https://docs.python.org/3/library/string.html for more information.

#### String formatting examples

In [ ]:
print("str1", "str2", "str3", 2323)  # The print statement concatenates strings with a space

In [ ]:
print("str1", "str2", "str3", 2323, sep='_', end='')
print("str1", "str2", "str3", 2323, sep='_', end='')

In [ ]:
help(print)

In [ ]:
print("str1", 1.0, False, -1j)  # The print statements converts all arguments to strings

In [ ]:
print("str1" + "str2" + "str3") # strings added with + are concatenated without space

In [ ]:
print("value = %f" % 1.0)       # we can use C-style string formatting

In [ ]:
# this formatting creates a string
s2 = "value1 = %.2f. value2 = %d" % (3.1415, 1.5)

print(s2)

In [ ]:
# alternative, more intuitive way of formatting a string
s3 = 'value1 = {0}, value2 = {1}'.format(3.1415, 1.5)
print(s3)

In [ ]:
# alternative, more intuitive way of formatting a string
s3 = 'value1 = {a}, value2 = {b} {0}'.format(2323, b=3.1415, a=1.5)

print(s3)

## List

[Docs](https://docs.python.org/3/library/stdtypes.html#list)

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is `[...]`:

In [ ]:
l = [1, 2, 3, 4]

print(type(l))
print(l)

We can use the same slicing techniques to manipulate lists as we could use on strings:

In [ ]:
print(l)

print(l[1:3])

print(l[::2])

**Heads up MATLAB users:** Indexing starts at 0!

In [ ]:
l[0]

Elements in a list do not all have to be of the same type:

In [ ]:
l = [1, 'a', 1.0, 1-1j]

print(l)

Python lists can be inhomogeneous and arbitrarily nested:

In [ ]:
nested_list = [1, [2, [3, [4, [5]]]]]
print(nested_list[1][1][1][1][0])

Lists play a very important role in Python. For example they are used in loops and other flow control structures (discussed below). There are a number of convenient functions for generating lists of various types, for example the `range` function:

In [ ]:
start = 10
stop = 30
step = 2

list(range(start, stop, step))

In [ ]:
# in python 3 range generates an iterator, which can be converted to a list using 'list(...)'.
# It has no effect in python 2
list(range(start, stop, step))

In [ ]:
list(range(-10, 10))

In [ ]:
s = 'abcdef'

In [ ]:
# convert a string to a list by type casting:
s2 = list(s)

s2

In [ ]:
s2 = [1, 5, 9, 2, 4, 7]
print(s2)

In [ ]:
w = sorted(s2)

In [ ]:
type(w)

In [ ]:
# sorting lists
s2.sort()

print(s2)

#### Adding, inserting, modifying, and removing elements from lists

We can modify lists by assigning new values to elements in the list. In technical jargon, lists are *mutable*.

In [ ]:
l[1:3] = ["d", "d"]

print(l)

Insert an element at an specific index using `insert`

In [ ]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(22, "t")

print(l)

Remove first element with specific value using 'remove'

In [ ]:
l.remove("t")

print(l)

Remove an element at a specific location using `del`:

In [ ]:
del l[7]
del l[6]

print(l)

See `help(list)` for more details, or read the online documentation

## Tuples

[Docs](https://docs.python.org/3/library/stdtypes.html#tuple)

Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*.

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

In [ ]:
point = (10, 20)

print(point, type(point))

In [ ]:
point = 10, 20

print(point, type(point))

We can unpack a tuple by assigning it to a comma-separated list of variables:

In [ ]:
x, y = point

print("x =", x)
print("y =", y)

If we try to assign a new value to an element in a tuple we get an error:

In [ ]:
point[0] = 20

## Dictionaries

[Docs](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)

Dictionaries are also like lists, except that each element is a key-value pair. The syntax for dictionaries is `{key1 : value1, ...}`:

In [ ]:
l = [1., 2., 3.]

In [ ]:
l[0]

In [ ]:
params = {"parameter1" : 1.0,
          "parameter2" : 2.0,
          "parameter3" : 3.0,}

print(type(params))
print(params)

In [ ]:
params[(1, 2, 3)] = 'ccc'

In [ ]:
params[[1, 2, 3, 4]] = 'qqwewe'

In [ ]:
print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))

In [ ]:
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
params["parameter4"] = "D"

print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))

## Sets

[Docs](https://docs.python.org/3/library/stdtypes.html#set)

In [ ]:
x = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [ ]:
len(x)

In [ ]:
x[2]

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

In [ ]:
len(basket)

In [ ]:
'orange' in basket                 # fast membership testing
# 'crabgrass' in basket

In [ ]:
a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

In [ ]:
a - b                              # letters in a but not in b

In [ ]:
a | b                             # letters in a or b or both

In [ ]:
a & b                              # letters in both a and b